<!DOCTYPE html> {% load static tailwind_tags %}
<html lang="en">

<head>
    <title>OneStop Bank| Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {% tailwind_css %}
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
</head>

<body class="bg-gray-50">
    <!-- Login Page -->
    <div class="min-h-screen bg-gradient-to-r from-blue-500 via-indigo-500 to-purple-500 flex items-center justify-center p-4">
        <div class="w-full max-w-md bg-white p-8 rounded-lg shadow-lg">
            <div class="flex  justify-center gap-5">
                <img src="{% static 'img/bank.png' %}" alt="bank logo" class="h-8">
                <h2 class="text-2xl font-semibold text-gray-800  mb-6 font-heading">Welcome Back</h2>
            </div>

            <form action="{% url 'login' %}" method="POST" class="space-y-4 font-text">
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li class="bg-red-500 text-center text-white rounded-md p-2">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %} {% csrf_token %}
                <!-- Email Field -->
                <div>
                    <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                    <input type="email" id="email" name="email" class="mt-1 block w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Enter your email" required />
                </div>

                <!-- Password Field -->
                <div>
                    <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                    <input type="password" id="password" name="password" class="mt-1 block w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Enter your password" required />
                </div>

                <!-- Remember Me -->
                <div class="flex items-center justify-between">
                    <label class="flex items-center text-sm text-gray-600">
                    <input
                        type="checkbox"
                        class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded"
                    />
                    <span class="ml-2">Remember me</span>
                </label>
                    <a href="#" class="text-sm text-indigo-600 hover:text-indigo-800">Forgot password?</a>
                </div>

                <!-- Login Button -->
                <button type="submit" class="w-full py-2 px-4 bg-indigo-600 text-white rounded-lg shadow hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                Log In
            </button>
                <p class="text-center text-sm text-gray-800 mt-6 font-semibold">
                    Don't have an account?
                    <a href="{% url 'register' %}" class="text-blue-800 hover:underline">Register Here</a>
                </p>
            </form>
        </div>




    </div>

</body>

</html>